<main class="main">
  <div class="content">
    <div class="header">
      <img src="/assets/disneey.png" alt="Background" class="background-image" />
    </div>

    <nav class="menu">
      <ul>
        <li><a (click)="navegarInicio()">Inicio</a></li>
        <li><a (click)="navegarCenicienta()">Cenicienta</a></li>
        <li><a (click)="navegarSirenita()">La sirenita</a></li>
        <li><a (click)="navegarBellaBestia()">La bella y la bestia</a></li>
        <li><a (click)="navegarBellaDurmiente()">La bella durmiente</a></li>
        <li><a (click)="navegarEnredados()">Enredados</a></li>
      </ul>
    </nav>
    <h2>La Cenicienta</h2>
    <div class="izquierda">
      <img src="/assets/cenicienta.jpg" alt="cenicienta" class="imageVertical" />
      <div class="derecha">
        <p>Cenicienta es una película animada de Disney lanzada en 1950, basada en el cuento de hadas clásico. Aquí tienes un resumen de la trama:
          La historia sigue a Cenicienta, una joven amable y trabajadora que vive con su cruel madrastra y sus dos hermanastras. Después de la muerte de su padre, es forzada a convertirse en su sirvienta, realizando todas las tareas del hogar y siendo maltratada por su familia.
        Un día, el Rey decide organizar un gran baile para que su hijo, el Príncipe, elija a una esposa. Cenicienta sueña con asistir, pero su madrastra le prohíbe ir. Sin embargo, su Hada Madrina aparece y usa magia para transformarla, dándole un hermoso vestido y un par de zapatos de cristal. También convierte a una calabaza en carruaje y a unos ratones en caballos, permitiéndole asistir al baile, con la advertencia de que debe regresar antes de la medianoche, cuando la magia se desvanecerá.
        En el baile, el Príncipe queda cautivado por Cenicienta, y los dos bailan juntos. Sin embargo, cuando el reloj da la medianoche, Cenicienta debe huir, dejando atrás uno de sus zapatos de cristal.
        El Príncipe, decidido a encontrar a la misteriosa chica, inicia una búsqueda por todo el reino usando el zapato como única pista. Cuando finalmente llega a la casa de Cenicienta, su madrastra intenta impedir que se pruebe el zapato. Pero, con la ayuda de los ratones y otros amigos, Cenicienta logra probarse el zapato, que le queda perfectamente.
        Al final, Cenicienta y el Príncipe se reúnen y se casan, lo que les permite vivir felices para siempre. La película resalta temas de esperanza, bondad y la creencia en que los sueños pueden hacerse realidad.
        </p>
      </div>
    </div>

    <footer>
      <img src="/assets/angularlogo.jpg" alt="Angular Logo" class="angular-logo" />
    </footer>
  </div>
</main>
