<main class="main">
    <div class="content">
      <div class="header">
        <img src="/assets/disneey.png" alt="Background" class="background-image" />
      </div>

      <nav class="menu">
        <ul>
          <li><a (click)="navegarInicio()">Inicio</a></li>
          <li><a (click)="navegarCenicienta()">Cenicienta</a></li>
          <li><a (click)="navegarSirenita()">La sirenita</a></li>
          <li><a (click)="navegarBellaBestia()">La bella y la bestia</a></li>
          <li><a (click)="navegarBellaDurmiente()">La bella durmiente</a></li>
          <li><a (click)="navegarEnredados()">Enredados</a></li>
        </ul>
      </nav>

      <h2>La Sirenita</h2>
    <div class="izquierda">
      <img src="/assets/portada_sirenita.png" alt="sirenita" class="imageVertical" />
      <div class="derecha">
        <p>La Sirenita cuenta la historia de Ariel, una joven sirena que vive en el fondo del mar y sueña con vivir en la superficie. Ella es curiosa,
           aventurera y fascinada por el mundo humano, a pesar de las advertencias de su padre, el Rey Tritón, quien le prohíbe acercarse a la superficie.
          Un día, Ariel salva a un príncipe humano llamado Eric de un naufragio, y se enamora de él. Desesperada por poder estar con él, Ariel hace un trato con la bruja del mar, Úrsula. A cambio de su voz,
          Ariel recibe piernas humanas y la oportunidad de estar en la tierra durante tres días. Sin embargo, si no logra que el príncipe la bese con verdadero amor en ese tiempo, perderá su alma y se convertirá en sirena nuevamente.
          Ariel llega a la tierra y, a pesar de no poder hablar, se enamora de Eric. Sin embargo, Úrsula intenta sabotear su relación al disfrazarse de humana y enamorar a Eric, pero al final,
          Ariel y Eric logran vencer a Úrsula. Con la ayuda de sus amigos (Flounder, Sebastián y Scuttle), Ariel y Eric se enfrentan a la bruja, quien es derrotada.
          Al final, el Rey Tritón, al ver el amor verdadero de Ariel y Eric, le da su bendición para que se case con él y viva como humana. Ariel y Eric se casan, y la película concluye con un feliz final.</p>
      </div>
    </div>

      <footer>
        <img src="/assets/angularlogo.jpg" alt="Angular Logo" class="angular-logo" />
      </footer>
    </div>
  </main>
