<main class="main">
  <div class="content">
    <div class="header">
      <img src="/assets/disneey.png" alt="Background" class="background-image" />
    </div>

    <nav class="menu">
      <ul>
        <li><a (click)="navegarInicio()">Inicio</a></li>
        <li><a (click)="navegarCenicienta()">Cenicienta</a></li>
        <li><a (click)="navegarSirenita()">La sirenita</a></li>
        <li><a (click)="navegarBellaBestia()">La bella y la bestia</a></li>
        <li><a (click)="navegarBellaDurmiente()">La bella durmiente</a></li>
        <li><a (click)="navegarEnredados()">Enredados</a></li>
      </ul>
    </nav>
    <h2>La Bella y la Bestia</h2>
    <div class="izquierda">
      <img src="/assets/portada_bella.jpg" alt="bella" class="imageVertical" />
      <div class="derecha">
        <p>"La Bella y la Bestia" (Beauty and the Beast) es una película animada de Disney
           estrenada en 1991, basada en el cuento de hadas francés de Jeanne-Marie Leprince de
           Beaumont. La historia sigue a Belle, una joven inteligente y amante de los libros que
           vive en un pequeño pueblo francés. A pesar de su belleza, Belle se siente fuera de lugar
            en su entorno y anhela aventuras más allá de su hogar.
          Un día, su padre, Maurice, es capturado por una Bestia que vive en un castillo encantado.
          Para salvar a su padre, Belle se ofrece a ocupar su lugar como prisionera. Dentro del
          castillo, descubre que la Bestia es en realidad un príncipe que fue maldecido por una
          hada por su egoísmo y falta de amor. La maldición solo podrá romperse si la Bestia
          aprende a amar y es correspondido antes de que caiga el último pétalo de una rosa mágica.
          A medida que Belle y la Bestia pasan tiempo juntos, ella comienza a ver más allá de
          su apariencia y descubre su bondad y vulnerabilidad. Los objetos del castillo, que
          también fueron encantados, se convierten en amigos cercanos de Belle, incluyendo a
          Lumière, el candelabro; Cogsworth, el reloj; y Mrs. Potts, la tetera.
          Mientras tanto, Gaston, un arrogante cazador del pueblo, está decidido a conquistar a
           Belle, aunque ella lo desprecia. Al final, la historia culmina en un enfrentamiento
           entre Gaston y la Bestia. Belle, al regresar al castillo para salvar a la Bestia,
           le muestra su amor, rompiendo así la maldición.
          La película es conocida por su animación impresionante, su música memorable (incluidas
          las canciones "Beauty and the Beast" y "Be Our Guest") y su mensaje sobre el amor verdadero,
           la aceptación y la transformación interior. "La Bella y la Bestia" fue aclamada por la crítica
            y se convirtió en un clásico atemporal que celebra la belleza de lo que está en el interior.
        </p>
      </div>
    </div>

    <footer>
      <img src="/assets/angularlogo.jpg" alt="Angular Logo" class="angular-logo" />
    </footer>
  </div>
</main>
