<main class="main">
  <div class="content">
    <div class="header">
      <img src="/assets/disneey.png" alt="Background" class="background-image" />
    </div>

    <nav class="menu">
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a (click)="navegarCenicienta()">Cenicienta</a></li>
        <li><a (click)="navegarSirenita()">La sirenita</a></li>
        <li><a (click)="navegarBellaBestia()">La bella y la bestia</a></li>
        <li><a (click)="navegarBellaDurmiente()">La bella durmiente</a></li>
        <li><a (click)="navegarEnredados()">Enredados</a></li>
      </ul>
    </nav>

    <div class="content">
      <h2>Princesas</h2>
      <p>Son heroínas de diversas películas, comúnmente princesas o que llegan a convertirse en princesas en el
        desarrollo de sus respectivas películas.
        Representan la bondad, la valentía y la búsqueda de la felicidad, y suelen ser el foco central de las historias
        en las que aparecen. A lo largo de los años,
        Disney ha creado una variedad de princesas, cada una con su propia historia, personalidad y valores.
      </p>

      <img src="/assets/princesas.jpg" alt="princesas" class="image" />
      <img src="/assets/princess.jpg" alt="princesas" class="image" />
    </div>

    <div class="content">
      <h2>Villanos</h2>
      <p>Son personajes que juegan el rol de antagonistas en las películas, oponiéndose a los héroes y heroínas de las
        historias. Estos villanos suelen tener características malvadas, ambiciones egoístas y comportamientos que los
        colocan en conflicto con los personajes principales.
        A menudo, son una parte crucial del desarrollo de la trama y representan desafíos que los héroes deben superar.
      </p>
      <img src="/assets/villanos.png" alt="villanos" class="image" />
      <img src="/assets/villans.png" alt="villanos" class="image" />
    </div>

    <footer>
      <img src="/assets/angularlogo.jpg" alt="Angular Logo" class="angular-logo" />
    </footer>
  </div>
</main>
