<main class="main">
  <div class="content">
    <div class="header">
      <img src="/assets/disneey.png" alt="Background" class="background-image" />
    </div>

    <nav class="menu">
      <ul>
        <li><a (click)="navegarInicio()">Inicio</a></li>
        <li><a (click)="navegarCenicienta()">Cenicienta</a></li>
        <li><a (click)="navegarSirenita()">La sirenita</a></li>
        <li><a (click)="navegarBellaBestia()">La bella y la bestia</a></li>
        <li><a (click)="navegarBellaDurmiente()">La bella durmiente</a></li>
        <li><a (click)="navegarEnredados()">Enredados</a></li>
      </ul>
    </nav>
    <h2>La Bella durmiente</h2>
    <div class="izquierda">
      <img src="/assets/portada_durmiente.png" alt="bellaDurmiente" class="imageVertical" />
      <div class="derecha">
        <p>
          "La Bella Durmiente" (Sleeping Beauty) es una película animada de Disney estrenada en 1959,
           basada en el cuento de hadas de Charles Perrault. La historia sigue a Aurora, una princesa
            que es maldecida al nacer por la malvada hada Malefica, quien jura que cuando Aurora
            cumpla dieciséis años, se pinchará el dedo con el huso de una rueca y caerá en un sueño
             profundo del que solo podrá despertar con un beso de amor verdadero.
          Para proteger a Aurora, el rey y la reina la envían a vivir con tres hadas buenas: Flora,
          Fauna y Merryweather, quienes la cuidan y le ocultan su verdadera identidad. Las hadas hacen
           todo lo posible para evitar que Aurora cumpla con la maldición, pero, a pesar de sus esfuerzos,
           el día de su cumpleaños, Aurora se encuentra con el huso y se pincha el dedo, cayendo en un profundo sueño.
          Mientras tanto, el príncipe Felipe, quien ha estado enamorado de Aurora desde que la vio,
           debe enfrentar a Malefica, quien se transforma en un dragón para detenerlo. Con la ayuda de las hadas,
           el príncipe logra derrotar a Malefica y, al final, besa a Aurora, despertándola de su sueño.
          La película es famosa por su hermosa animación, especialmente en la secuencia del baile
          final, y su icónica banda sonora, que incluye el tema "Once Upon a Dream". La historia
          transmite temas de amor verdadero, valentía y la lucha entre el bien y el mal.
        </p>
      </div>
    </div>

    <footer>
      <img src="/assets/angularlogo.jpg" alt="Angular Logo" class="angular-logo" />
    </footer>
  </div>
</main>
