<main class="main">
  <div class="content">
    <div class="header">
      <img src="/assets/disneey.png" alt="Background" class="background-image" />
    </div>

    <nav class="menu">
      <ul>
        <li><a (click)="navegarInicio()">Inicio</a></li>
        <li><a (click)="navegarCenicienta()">Cenicienta</a></li>
        <li><a (click)="navegarSirenita()">La sirenita</a></li>
        <li><a (click)="navegarBellaBestia()">La bella y la bestia</a></li>
        <li><a (click)="navegarBellaDurmiente()">La bella durmiente</a></li>
        <li><a (click)="navegarEnredados()">Enredados</a></li>
      </ul>
    </nav>
    <h2>Enredados</h2>
    <div class="izquierda">
      <img src="/assets/portada_enredados.png" alt="enredados" class="imageVertical" />
      <div class="derecha">
        <p>"Enredados" (Tangled) es una película animada de Disney estrenada en 2010, basada en el cuento de hadas de Rapunzel. La historia sigue a Rapunzel, una princesa de cabello mágico y dorado que ha estado encerrada en una torre por una malvada bruja llamada Gothel desde que era un bebé.
          Gothel usa el poder del cabello de Rapunzel para mantenerse joven y hermosa.
          Un día, un ladrón encantador llamado Flynn Rider se esconde en la torre de Rapunzel mientras
          escapa de la guardia. Rapunzel, que anhela salir y explorar el mundo exterior, decide hacer un
          trato con Flynn: lo ayudará a recuperar un valioso objeto robado a cambio de que la lleve a ver
          las luces flotantes que aparecen cada año en su cumpleaños.
          A lo largo de su aventura, Rapunzel y Flynn desarrollan una profunda conexión romántica,
          mientras que ella descubre su verdadero legado y la magia de su cabello. Juntos enfrentan
          diversos desafíos, incluido el regreso de Gothel, quien intenta recuperar a Rapunzel. Al final,
          Rapunzel se da cuenta de su identidad y valentía, y logra liberarse del control de Gothel.
          La película es conocida por sus animación vibrante, música memorable (incluida la canción
           "I See the Light") y un mensaje sobre la importancia de la libertad, la identidad y el amor verdadero.
        </p>
      </div>
    </div>

    <footer>
      <img src="/assets/angularlogo.jpg" alt="Angular Logo" class="angular-logo" />
    </footer>
  </div>
</main>
